/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

*:not(dialog) {
    margin: 0;
    padding: 0;
}



/* Main styles */
@font-face {
    font-family: "Norse";
    src: url(fonts/norse-webfont.woff) format("woff"),
        url(fonts/norse-webfont.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: rgb(250 250 250);
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* left */
.left {
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
    flex: 35;
}

.container-logo {
    background-color: rgb(0 0 0 / 50%);

    align-items: center;
    display: flex;
    justify-content: center;

    font: bold 6rem "Norse", sans-serif;

    height: 15%;
    margin-top: 20vh;
}

img {
    height: 80%;
    width: auto;
}

.credits {
    margin-top: 60vh;
    text-align: center;
}

a:link {
    color: white;
}

a:visited {
    color: purple;
}

a:hover, a:active {
    color: blue;
}

/* right */
.right {
    flex: 75;
    font-family: Arial, Helvetica, sans-serif;
}

.cta {
    font-weight: bold;
    font-size: 1.8rem;

    max-width: 55ch;
    margin-top: 8rem;
    margin-left: 4rem;
}

form {
    background-color: white;
    box-shadow: 0 4px 4px lightgray;
    margin-top: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    padding-left: 4rem;
}

form > h1, form > p {
    margin-bottom: 1rem;
}

section {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;

    width: 70%;
}

.form-control {
    flex-basis: 50%;
}

label {
    letter-spacing: 10%;
    text-transform: uppercase;
}

label + input {
    display: block;
    border: 2px solid #E5E7EB;
    border-radius: 6px;

    font-size: 1.1rem;

    height: 2.5rem;
    width: 70%;

    padding-left: 0.6rem;

    &:focus {
        border-color: slateblue;
        box-shadow: 2px 2px 2px lightgray;
        outline: none;
    }
}

button {
    background-color: #596D48;
    color: white;

    border: none;
    border-radius: 6px;

    box-shadow: 4px 4px 4px lightgray;

    font-size: 1.25rem;
    font-weight: bold;

    height: 3.5rem;
    width: 20%;

    margin-top: 2rem;
    margin-left: 4rem;

    &:hover {
        background-color: #698155;
        cursor: pointer;
    }
}

/* .left, .right {
    outline: auto;
} */